/lib/clio.pyc
/lib/config.pyc
/lib/connection.pyc
/dist/qidev-0.1.tar.gz
/dist/qidev-0.1/lib/connection.py
/dist/qidev-0.1/lib/qidev.py
/dist/qidev-0.1/qidev
/dist/qidev-0.1/setup.py
/dist/qidev-0.1/README.md
/dist/qidev-0.1/requirements.txt
